h2{
  font-family: "Lucida Console", Courier, sans-serif;
	text-align:center; 
  font-size: 250%;
  margin: 50px;
  }
     body{
      background-color: #99CCCC;

         }
 *{	
 	box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
 .row{
 	width:100%;
     }
  .o{
    margin-left: auto;
    margin-right: auto;
    padding:15px;
     }
  div.i
    { 
     	background: gray;
	    border: 1px solid black;
	    height: 200px;
     	width: 100%;
      font-size: 19px;
      overflow: auto;
    }
 p{
    position: relative;
    float:right;
    padding: 10px;
  }
 
#c{background: red;
  width:150px;
  color: white;
  text-align: center;
  font-size: 23px;
  border: 1px solid black;
  font-family: "Lucida Console", Courier, sans-serif;
  }
#b{
	background: green;
  width:150px;
  color: white;
  text-align: center;
  font-size: 23px;
  border: 1px solid black;
  font-family: "Lucida Console", Courier, sans-serif;
  }
#s{
	background: blue;
  width:150px;
  color: white;
  text-align: center;
  font-size: 23px;
  border: 1px solid black;
  font-family: "Lucida Console", Courier, sans-serif;
  }
 /**desktop view**/
 @media (min-width: 992px){
 	.col-dt-1,.col-dt-2,.col-dt-3,
 	.col-dt-4,.col-dt-5,.col-dt-6,
 	.col-dt-7,.col-dt-8,.col-dt-9,
 	.col-dt-10,.col-dt-11,.col-dt-12{
      float: left;
    width: 100%;

 	                                  }
 	.col-dt-1{
 		width: 8.33%;
 	         }                                  
    .col-dt-2{
 		width: 16.66%;
 	         } 
 	 .col-dt-3{
 		width: 25%;
 	         }      
 	.col-dt-4{
 		width: 33.33%;
 	         }               
 	.col-dt-5{
 		width: 41.66%;
 	         }
 	.col-dt-6{
 		width: 50%;
           }                                  
    .col-dt-7{
 		width: 58.33%;
 	         }      
 	.col-dt-8{
 		width: 66.66%;
 	         }      
 	.col-dt-9{
 		width: 74.99%;
 	         }               
 	.col-dt-10{
 		width: 83.33%;
 	         }
 	.col-dt-11{
 		width: 91.66%;
 	         }      
 	.col-dt-12{
 		width: 100%;
 	         }                     
}
/**Tablet view**/
@media (min-width: 768px) and (max-width: 991px){
 	.col-tv-1,.col-tv-2,.col-tv-3,
 	.col-tv-4,.col-tv-5,.col-tv-6,
 	.col-tv-7,.col-tv-8,.col-tv-9,
 	.col-tv-10,.col-tv-11,.col-tv-12 {
        float: left;
       width: 100%;
 	                         }
 	.col-tv-1{
 		width: 8.33%;
 	         }                                  
    .col-tv-2{
 		width: 16.66%;
 	         } 
 	 .col-tv-3{
 		width: 25%;
 	         }      
 	.col-tv-4{
 		width: 33.33%;
 	         }               
 	.col-tv-5{
 		width: 41.66%;
 	         }
 	.col-tv-6{
 		width: 50%;
 	         }                                  
    .col-tv-7{
 		width: 58.33%;
 	         }      
 	.col-tv-8{
 		width: 66.66%;
 	         }      
 	.col-tv-9{
 		width: 74.99%;
 	         }               
 	.col-tv-10{
 		width: 83.33%;
 	         }
 	.col-tv-11{
 		width: 91.66%;
 	         }      
 	.col-tv-12{
 		width: 100%;

 	         }                     
}
/**mobile view**/
@media (min-width: 0px) and (max-width: 768px)
{
  .col-mv-1,.col-mv-2,.col-mv-3,
  .col-mv-4,.col-mv-5,.col-mv-6,
  .col-mv-7,.col-mv-8,.col-mv-9,
  .col-mv-10,.col-mv-11,.col-mv-12 
  {
        float: left;
        width: 100%;
                           }
  .col-mv-1{
    width: 8.33%;
           }                                  
    .col-mv-2{
    width: 16.66%;
           } 
   .col-mv-3{
    width: 25%;
           }      
  .col-mv-4{
    width: 33.33%;
           }               
  .col-mv-5{
    width: 41.66%;
           }
  .col-mv-6{
    width: 50%;
           }                                  
    .col-mv-7{
    width: 58.33%;
           }      
  .col-mv-8{
    width: 66.66%;
           }      
  .col-mv-9{
    width: 74.99%;
           }               
  .col-mv-10{
    width: 83.33%;
           }
  .col-mv-11{
    width: 91.66%;
           }      
  .col-mv-12{
    width: 100%;
   }                     
}

